<div id="wrappingpage">
    <div id="content">
        <h1> Hi all, my name is Louis Cha. I'm a third year Computer Science student at Simon Fraser University.</h1>
        <h1> Welcome to my blog!</h1>
    </div>
</div>