@import 'normalize';
html, body {
	font-family: 'Times', sans-serif;
}
	ul {
		list-style: none;
	
		padding-right: 3em;
    		.category {
    			font-weight: 500;
    			font-size: 0.7em;
    			text-transform: uppercase;
    			color: #00ff99;
		}
		li {
			padding: .5em 0;
		}
	}
.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
}

